@font-face{font-family:"FS Display";font-style:normal;font-weight:600 700;font-display:swap;src:url("../fonts/fs-display-600-700.woff2?v=bb22ad84") format("woff2")}
@font-face{font-family:"FS Text";font-style:normal;font-weight:600;font-display:swap;src:url("../fonts/fs-text-600.woff2?v=b04ac5b5") format("woff2")}
@font-face{font-family:"FS Text";font-style:normal;font-weight:400;font-display:swap;src:url("../fonts/fs-text-400.woff2?v=fdc732f6") format("woff2")}
